# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
.idea/

Pak/
Binaries/
Build/
/Content/

DerivedDataCache/
Intermediate/
Platforms/

Plugins/*/Binaries/*
Plugins/*/Intermediate/*

Plugins/GameFeatures/ShooterCore/Binaries
Plugins/GameFeatures/ShooterCore/Intermediate

Saved/

*.sln